:host {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.schedule__vertical-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #e6ebf0;
}

.schedule__current-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background: var(--color-inprogress-bg);
}
